.notes {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media (max-width: 1650px) {
    flex-direction: column;
  }

  @media (max-width: 1185px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 935px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
